html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 100%;
  max-width: 600px;

  padding: 20px;
  text-align: center;
  border: 1px solid var(--border);
}