:root {
  --text: #6b6375;
  --bg: #fff;
  --border: #e5e4e7;

  font-family: system-ui, sans-serif;
  color: var(--text);
  background: var(--bg);
}

#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border: 1px solid var(--border);
}