:root {
  --text: #6b6375;
  --bg: #fff;
  --border: #e5e4e7;

  font-family: system-ui, sans-serif;
  color: var(--text);
  background: var(--bg);
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 100%;
  max-width: 600px;

  padding: 20px;
  text-align: center;
  border: 1px solid var(--border);
}